{% extends "base.html" %} {% block content %}
<style>
  p {
    word-break: break-all;
    white-space: normal;
}
</style>
<div class="bg-gray-50 dark:bg-gray-900  ">
  
  <div class="flex flex-col justify-center	items-center py-8 px-4 mx-auto py-20 h-full md:px-40 ">

    <div class=" p-2 py-5 mb-4 bg-white min-w-full border border-blue-200 rounded-lg shadow dark:bg-gray-800 dark:border-blue-500">

      <h5 class=" text-2xl  px-4 font-medium tracking-tight text-gray-900 dark:text-white mb-2">
          الصفحة الشخصية 
      </h5>

  <h6 class="text-xl px-2 py-2 font-medium tracking-tight text-gray-900 dark:text-white  ">
    اسم المستخدم : 
  </h6>
<p class="text-md px-4 opacity-75 font-medium  text-gray-900 dark:text-white">
  {{ user.username }}
</p>

<hr
  class="my-2 h-0.5 border-t-0  opacity-25 bg-blue-500 opacity-100 dark:opacity-50" />
  <h6 class=" whitespace-nowrap pb-2 text-xl px-4 font-medium tracking-tight text-gray-900 dark:text-white  ">
    معرف التليكرتم :
  </h6>
<h6 class="text-md px-4 font-medium opacity-75 tracking-tight text-gray-900 dark:text-white">
  {{ user.telegram_user }}
</h6>

<hr
  class="my-2 h-0.5 border-t-0  opacity-25 bg-blue-500 opacity-100 dark:opacity-50" />
  <h6 class=" whitespace-nowrap pb-2 text-xl px-4 font-medium tracking-tight text-gray-900 dark:text-white  ">
  التكاليف :
  </h6>
  {% for i in jobs_names %}

    <h6 class="text-md px-4 font-medium opacity-75 tracking-tight text-gray-900 dark:text-white">
      {{ i }}
    </h6>
  {% endfor %}
<form method="GET" action="{% url 'logout' %}">
 {% csrf_token %}
<button type="submit" class="focus:outline-none text-white mt-4 bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">تسجيل خروج</button>
</form>



  </div>

{% include "component/navbar.html" with url=request.get_full_path %}

    

  </div>
</div>

{% endblock %}
