<html dir="rtl">

<head>
  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
<title>المقررات</title>
<style>
  
*{
font-family: 'Readex Pro', sans-serif;

}
</style>
</head>
<body class="dark ">
  {% include 'component/topbar.html' with title=title %}

{% block content %}
      
{% endblock %}
  </body>
</html>